

 li{
    list-style: none;
 }
 a{
    text-decoration: none;
 }

header{
    >nav{
      >div{
        >span{
          display: flex;
          width: 30px;
          height: 3px;
          background-color: #000;
          margin: 7px;
          border-radius: 10px;
          cursor: pointer;
          transition: .4s;

         
        
        
        
      }
      
    }
      >ul{
        >li{
          >a{
            color: #272727;
            font-size: 25px;
            text-transform: capitalize;
            &:hover{
              color: #943030;
            }
          }
        }
      }
      #b-menu{
        transform: translate(-100%);
        transition: 1s;
      
      }
    }
    
  }
  
 #sp1{
    transform-origin: top left;
  }
  #sp2{
    transform-origin: bottom left;
  }
