

section{
    margin: 100px auto;
div{
    width: 300px;
    height: 200px !important;
    
   >section{
    overflow: hidden;
    >span{
        display: flex;
       transition: .4s;
        width: 120px;
        height: 12px;
        background-color: #fff;
        margin: 25px;
        border-radius: 10px;
        box-shadow: 0 0 5px 1px #6b6b6b;
        &:nth-of-type(1){
           transform-origin: top right;
         
        }
        &:nth-of-type(3){
           transform-origin: bottom right;
           transform: translate();
        }
       }
   }
}
}

 







